[submodule "framework/cocos2d"]
	path = framework/cocos2d
	url = https://github.com/dayuan555/cocos2d2
[submodule "framework/cocos2d-x"]
	path = framework/cocos2d-x
	url = https://github.com/dayuan555/cocos2d2
